<h1>Administration - Dashboard: Current Inventory</h1>

<h2>Total Products: <%= @products %></h2>
<h2>Total Categories: <%= @categories %></h2>
<form action="/admin/products">
  <input class="btn btn-primary" type="submit" value="All Products" />
</form>