// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

td, th {        
  text-align: center;
  font-size: medium;
}

.order-description, th.head-left {
  text-align: left;
  font-size: medium;
}

.signup-container {
  display: flex;
  background-color: aqua;
}
